<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>He was born in a place. He left place for place 3, excelled at something and did something. While something, he inventred valve for something. Something more. Retired to somewhere.</p>
<p>His favorite quotation is:</p>
<p>Stay Hungry. Stay foolish.</p>