<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <!-- link_to helper method -->
  <!-- takes the anchor text and also the route -->
  <!-- the root_path has been set in config/routes.rb -->

  <%= render 'layouts/navigation_links' %>
  <!-- partial being nested -->

  
</ul>
